* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

#section1 {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

nav h1 {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
}
nav h1 i {
  font-size: 40px;
  display: inline-block;
  transform: rotate(45deg);
}

.part2 h4 {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.part2 button {
  padding: 18px 40px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
}

.center-part {
  width: 100%;
  height: 70%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 40px 60px;
}

.center-part1 {
  width: 45%;
  height: 100%;
}

.center-part1 h1 {
  font-size: 82px;
  font-family: monospace;
  font-weight: 500;
  line-height: 0.9;
}

.center-part1 p {
  font-size: 26px;
  width: 95%;
  margin: 30px 0;
}

.center-part1 button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.center-part2 {
  width: 55%;
  height: 100%;
  position: relative;
}

.center-part2 img {
  width: 70%;
  position: absolute;
  right: 0;
}

.section-part-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  margin-top: 0;
}
.section-part-a .img {
  height: 120px;
  aspect-ratio: 1/1;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.section2 {
  width: 100%;
  background-color:red;
  height: 100%;
}

#section2 .services {
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.services h3 {
  background-color: #b9ff66;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 40px;
  font-family: monospace;
}
.services {
  font-size: 18px;
  width: 70%;
}

.container {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  flex-wrap: wrap;
  gap: 60px 0;
}

.elem {
  width: 48%;
  height: 350px;
  /* background-color: red; */
  border: 3px solid black;
  border-radius: 30px;
  flex-shrink: 0;
  box-shadow: 0px 20px 0px black;
  padding: 40px;
  display: flex;
}

.elem-part1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.elem-part1 .h2 {
  font-size: 40px;
  background-color: #b9ff66;
  font-weight: 600;
  font-family: monospace;
  border-radius: 5px;
  padding: 0 5px;
  width: 80%;
}

.elem-part1 h4 {
  font-size: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.elem-part1 h4 i {
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 18px;
  font-size: 18px;
  font-weight: 900;
}

.elem-part2 {
  height: 100%;
}
.elem-part2 img {
  height: 100%;
}

.black {
  background-color: #000;
}
.elem-part1 .black-head {
  background-color: white;
}

.elem-part1 h4 .white {
  background-color: white;
  color: black;
}

.textwhite {
  color: white;
}

.thing-sec {
  width: 100%;
  padding: 30px 60px;
}
.thing-sec-data {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.left-text {
  width: 50%;
  padding: 0 40px;
}

.left-text h4 {
  width: fit-content;
  font-size: 28px;
  font-weight: 600;
}
.left-text p {
  font-size: 18px;
  margin: 20px 0;
  width: 90%;
  font-family: 500;
}
.left-text button {
  padding: 12.5px 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 800;
}

.right-img {
  height: 50%;
  /* background-color: red; */
}

.right-img img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

footer {
  width: 100%;
  padding: 30px 60px;
}

.footer-sec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  border-radius: 20px;
}
.strike {
  width: 2px;
  height: 200px;
  background-color: white;
}
.foot {
  width: 32%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foot p {
  font-size: 18px;
}
.foot h5 {
  font-size: 24px;
  font-weight: 600;
  color: #b9ff66;
}
.foot h5 i {
  font-size: 24px;
}
