*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
}


.card{
  max-width: 450px;
  aspect-ratio: 4/9;
  background-color: aquamarine;
}

.image{
  width: 100%;
  height: 100%;
  background-size: cover;
}
