@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  background-color: #ccc;
}

main {
  width: 100%;
  padding: 0.6rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}

.main-heading {
  font-size: 2.5rem;
  text-align: center;
}

#create-note {
  width: 100%;
  display: flex;
  justify-content: center;
}

#create-note h2 {
  font-size: 1.75em;
}

form {
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0.75rem 2rem 0.75rem;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.note-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4em 0;
}

.note-sec label {
  display: inline-block;
  font-weight: 600;
}
.note-sec input,
textarea,
.addNoteBtn {
  width: 100%;
  padding: 0.5em 0.2em;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1em;
}

.note-sec small {
  color: red;
  margin-left: 0.4em;
}

.note-sec input:focus,
textarea:focus {
  border: 1px solid #3e3ef3;
}
.note-sec textarea {
  resize: none;
}

.addNoteBtn {
  background-color: #1f1f1f;
  color: #ffffff;
  font-weight: 500;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s ease-in-out;
  cursor: pointer;
}
.addNoteBtn:hover {
  background-color: #111;
}

#allnotes-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4rem 0.3rem;
}

#allnotes-sec h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.notes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
  gap: 20px;
  padding: 1rem 0rem;
}

.note-card {
  width: 100%;
  background-color: white;
  padding: 0.6em 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.8em 0;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.data-sec h4 {
  color: #202836;
}
.data-sec p {
  color: #646464;
}

.data-sec {
  width: 100%;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.deleteBtn,
.editBtn {
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s ease-in-out;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.deleteBtn {
  background-color: #f12004;
}
.editBtn {
  background-color: #1da002;
}

.deleteBtn:hover {
  background-color: #d41c04;
}

.editBtn:hover {
  background-color: #188602;
}

.emptyMsg {
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-weight: 600;
  color: red;
}

@media (min-width: 1024px) {
  .main-heading {
    font-size: 5rem;
  }

  #create-note h2 {
    font-size: 2.2em;
  }

  #allnotes-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.5rem;
  }

  #allnotes-sec h3 {
    font-weight: 500;
  }
  .notes {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
  #allnotes-sec h3 {
    font-size: 3.6rem;
  }

  .emptyMsg {
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-weight: 700;
    color: red;
  }
}
