.song-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.song-container h2 {
  text-align: center;
  font-weight: 500;
  background-color: #a8a7a7;
  padding: 1.2em;
  border-radius: 7px;
}

.song-lists {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.song-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  background-color: #a8a7a7;
  padding: 0.6em;
  border-radius: 5px;
}

.song-title-sec {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.song-title-sec audio {
  display: none;
}

.song-title-sec button {
  border: none;
  background: transparent;
}

.song-title h3 {
  font-size: 1.7em;
  font-weight: 500;
}
.song-title h4 {
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
}

.song-play-pause-btn,
.play,
.pause {
  font-weight: 500;
  cursor: pointer;
  font-size: 3.5rem;
}

@media (min-width: 1024px) {
  .song-container h2 {
    font-size: 2.4em;
  }
}
