//* Desktop styling:-

@media (min-width: 924px) {
  .main {
    width: 100%;
    height: 100vh;
    .view1 {
      padding-top: 10vh;
      padding: 0 2.25rem;
      width: 100%;
      height: 100%;
      background-color: #f8cfc2;
      display: flex;
      align-items: center;
      justify-content: center;
      .image_detail-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .chef-image {
          width: 45%;
          aspect-ratio: 10/5;
          margin: 2rem auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .site-details {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1em;
          h1 {
            font-size: 7rem;
            color: #ff4500;
          }
          p {
            font-size: 2.1em;
            color: #fd7c4ced;
            text-align: center;
          }
        }
      }
      #biriyani {
        position: absolute;
        width: 15%;
        right: 10%;
        top: 10%;
      }
      #vegthali {
        position: absolute;
        width: 15%;
        left: 10%;
        bottom: 10%;
      }
    }
    .view2 {
      width: 100%;
      height: 100%;
      background-color: #ffefea;
      padding: 10vh 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
      background-color: #fda686;
      h2 {
        font-size: 4rem;
        text-align: center;
        color: #ff4500;
      }
      .food-category-sec {
        width: 100%;
        .cards {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5rem;
          .card {
            background-color: rgba($color: #e4d4d491, $alpha: 0.4);
            backdrop-filter: blur(5px);
            border-radius: 1.5rem;
            overflow: hidden;
            width: 25%;
            .category-img {
              width: 100%;
              aspect-ratio: 4/3;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .category-detail {
              width: 100%;
              padding: 0.9em 1.8em;
              display: flex;
              flex-direction: column;
              gap: 1em;
              h3 {
                color: #ff4500;
                text-align: center;
                font-size: 3rem;
              }
              p {
                font-size: 1.4em;
                text-align: justify;
                color: #fd7c4ced;
              }
            }
          }
        }
      }
    }
  }
}
